In [1]:
import pandas as pd
import sqlite3

In [2]:
con = sqlite3.connect("../instance/database.db")

In [3]:
# Load the data into a DataFrame
players = pd.read_sql_query("SELECT * from Player", con)
players

    index  id first_name     last_name gender
0       0   1     Sharof     Abdullaev   male
1       1   2   Vladimir    Abduraimov   male
2       2   3    Alisher  Abduvakhidov   male
3       3   4      Izzat       Ahrarov   male
4       4   5    Farrukh      Akhtamov   male
..    ...  ..        ...           ...    ...
71     71  72      Sasha           Wao   male
72     72  73     Ruslan      Xaleulin   male
73     73  74      Akmal      Xazratov   male
74     74  75      Petro  Zakharchenko   male
75     75  76   Nuriddin   Zuhirxojaev   male

[76 rows x 5 columns]

In [4]:
results = pd.read_sql_query("SELECT * from Result", con)
results

,index,id,player_id,position,match_count,win_count,tie_win_count,set_diff,game_diff,division_id,relegation
0,0,1,60,1,7,6,1,8,27,1,unchanged
1,1,2,46,2,7,6,0,8,17,1,unchanged
2,2,3,58,3,6,5,0,9,33,1,unchanged
3,3,4,71,4,7,3,0,-1,-4,1,unchanged
4,4,5,37,5,5,2,0,-2,-4,1,unchanged
...,...,...,...,...,...,...,...,...,...,...,...
171,171,172,53,2,2,2,1,2,11,19,promoted
172,172,173,49,3,4,2,0,0,-5,19,unchanged
173,173,174,15,4,3,1,1,-1,-9,19,unchanged
174,174,175,28,5,5,1,0,-3,-9,19,unchanged
175,175,176,12,6,2,0,0,-2,-16,19,unchanged

In [5]:
league = pd.read_sql_query("SELECT * from League", con)
league

   id              name
0   1  Tashkent Masters

In [6]:
season = pd.read_sql_query("SELECT * from Season", con)
season

   index  year     season
0    160  2024          1
1    142  2024          2
2    112  2024          3
3     68  2024          4
4      0  2025          1
5     45  2025  Preseason

In [7]:
divisions = pd.read_sql_query("SELECT * from Division", con)
divisions

    index     name  season_id  id  priority
0       0      M1a          1   1       110
1       1      M1b          1   2       110
2       2       M1          2   3       110
3       3       M2          2   4       120
4       4       M1          3   5       110
5       5       M2          3   6       120
6       6       O1          3   7       210
7       7       M1          4   8       110
8       8       M2          4   9       120
9       9       M3          4  10       130
10     10       O1          4  11       210
11     11       O2          4  12       220
12     12  Masters          5  13       150
13     13     Open          5  14       250
14     14       M1          6  15       110
15     15       M2          6  16       120
16     16       M3          6  17       130
17     17       M4          6  18       140
18     18       O1          6  19       210

In [8]:
df = pd.read_csv('./Tashkent Masters League - results.csv')
df

,year,season,division,last_name,first_name,position,match_count,win_count,tie_win_count,set_diff,game_diff,relegation
0,2025,1,M1,Rogozin,Anton,1,8,7,0,11,46,unchanged
1,2025,1,M1,Razzakov,Alisher,2,6,6,0,12,37,unchanged
2,2025,1,M1,Larionov,Svyatoslav,3,6,4,0,5,18,unchanged
3,2025,1,M1,Shirinov,Jahon,4,5,4,0,3,-1,unchanged
4,2025,1,M1,Shamuratov,Farrukh,5,7,3,1,-2,-17,unchanged
...,...,...,...,...,...,...,...,...,...,...,...,...
171,2024,1,M1b,Magomedov,Arsen,4,2,0,0,-3,-11,relegated
172,2024,1,M1b,Xaleulin,Ruslan,5,1,0,0,-1,-2,relegated
173,2024,1,M1b,Logvis,Kirill,6,1,0,0,-1,-4,relegated
174,2024,1,M1b,Zakharchenko,Petro,7,1,0,0,-2,-7,relegated
175,2024,1,M1b,Xazratov,Akmal,8,0,0,0,0,0,relegated

In [9]:
df['full_name'] = df['last_name'] + ' ' + df['first_name']

In [10]:
df['full_name'].value_counts()

Rogozin Anton        6
Kamilov Baxriddin    6
Razzakov Alisher     6
Tadjiev Khamdam      6
Malikov Humoyun      5
                    ..
Neklesov Igor        1
Hayitov Olimjon      1
N Dzhalil            1
Ismailov Ziyodbek    1
Xazratov Akmal       1
Name: full_name, Length: 76, dtype: int64

In [11]:
df['full_name'].nunique()

76

In [12]:
new_players = df[['full_name', 'first_name', 'last_name']].drop_duplicates().sort_values('full_name')
new_players = new_players.reset_index().reset_index()
new_players['id'] = new_players['level_0'] + 1
new_players['gender'] = 'male'
new_players = new_players[['id', 'first_name', 'last_name', 'gender']]
new_players

    id first_name     last_name gender
0    1     Sharof     Abdullaev   male
1    2   Vladimir    Abduraimov   male
2    3    Alisher  Abduvakhidov   male
3    4      Izzat       Ahrarov   male
4    5    Farrukh      Akhtamov   male
..  ..        ...           ...    ...
71  72      Sasha           Wao   male
72  73     Ruslan      Xaleulin   male
73  74      Akmal      Xazratov   male
74  75      Petro  Zakharchenko   male
75  76   Nuriddin   Zuhirxojaev   male

[76 rows x 4 columns]

In [13]:
# Create DataFrame with string dates, then convert to datetime
data = {
    'date_start': ['2024-06-01', '2024-07-01', '2024-08-01', '2024-09-23', '2025-04-05', '2025-02-22'],
    'date_end': ['2024-07-01', '2024-08-01', '2024-09-15', '2024-11-23', '2025-05-18', '2025-03-30']
}

dates = pd.DataFrame(data)

# Convert string dates to datetime objects
dates['date_start'] = pd.to_datetime(dates['date_start'])
dates['date_end'] = pd.to_datetime(dates['date_end'])
dates

  date_start   date_end
0 2024-06-01 2024-07-01
1 2024-07-01 2024-08-01
2 2024-08-01 2024-09-15
3 2024-09-23 2024-11-23
4 2025-04-05 2025-05-18
5 2025-02-22 2025-03-30

In [14]:
new_seasons = df[['year', 'season']].drop_duplicates().sort_values(['year', 'season'])
new_seasons = new_seasons.reset_index(drop=True).join(dates).sort_values('date_start').reset_index(drop=True)
new_seasons['id'] = new_seasons.index + 1
new_seasons['league_id'] = 1
new_seasons = new_seasons.rename(columns={'season': 'name'})
new_seasons

   year       name date_start   date_end  id  league_id
0  2024          1 2024-06-01 2024-07-01   1          1
1  2024          2 2024-07-01 2024-08-01   2          1
2  2024          3 2024-08-01 2024-09-15   3          1
3  2024          4 2024-09-23 2024-11-23   4          1
4  2025  Preseason 2025-02-22 2025-03-30   5          1
5  2025          1 2025-04-05 2025-05-18   6          1

In [15]:
def calc_priority(name):
    if name.startswith('M1'):
        return 110
    if name.startswith('M2'):
        return 120
    if name.startswith('M3'):
        return 130
    if name.startswith('M4'):
        return 140
    if name.startswith('O1'):
        return 210
    if name.startswith('O2'):
        return 220
    if name == 'Masters':
         return 150
    if name == 'Open':
        return 250

In [16]:
new_divisions = df[['year', 'season', 'division']]
new_divisions = new_divisions.join(new_seasons.set_index(['year', 'name']), on=['year', 'season']).rename(columns={'id': 'season_id'})
new_divisions = new_divisions.sort_values(['season_id', 'division']).drop_duplicates()[['division', 'season_id']]
new_divisions = new_divisions.reset_index(drop=True)
new_divisions['id'] = new_divisions.index + 1
new_divisions['priority'] = new_divisions['division'].apply(calc_priority)
new_divisions = new_divisions.rename(columns={'division': 'name'})
new_divisions

       name  season_id  id  priority
0       M1a          1   1       110
1       M1b          1   2       110
2        M1          2   3       110
3        M2          2   4       120
4        M1          3   5       110
5        M2          3   6       120
6        O1          3   7       210
7        M1          4   8       110
8        M2          4   9       120
9        M3          4  10       130
10       O1          4  11       210
11       O2          4  12       220
12  Masters          5  13       150
13     Open          5  14       250
14       M1          6  15       110
15       M2          6  16       120
16       M3          6  17       130
17       M4          6  18       140
18       O1          6  19       210

In [17]:
new_results = df.join(new_seasons.set_index(['year', 'name']), on=['year', 'season']).rename(columns={'id': 'season_id'})
new_results = new_results.join(new_divisions.set_index(['season_id', 'name']), on=['season_id', 'division']).rename(columns={'id': 'division_id'})
new_results = new_results.join(new_players.set_index(['first_name', 'last_name']), on=['first_name', 'last_name']).rename(columns={'id': 'player_id'})
new_results = new_results.sort_values(['season_id', 'division_id', 'position'])
new_results = new_results.reset_index(drop=True)
new_results['id'] = new_results.index + 1
new_results = new_results[['id', 'player_id', 'position', 'match_count', 'win_count', 'tie_win_count', 'set_diff', 'game_diff',
             'division_id', 'relegation']]
new_results

,id,player_id,position,match_count,win_count,tie_win_count,set_diff,game_diff,division_id,relegation
0,1,60,1,7,6,1,8,27,1,unchanged
1,2,46,2,7,6,0,8,17,1,unchanged
2,3,58,3,6,5,0,9,33,1,unchanged
3,4,71,4,7,3,0,-1,-4,1,unchanged
4,5,37,5,5,2,0,-2,-4,1,unchanged
...,...,...,...,...,...,...,...,...,...,...
171,172,53,2,2,2,1,2,11,19,promoted
172,173,49,3,4,2,0,0,-5,19,unchanged
173,174,15,4,3,1,1,-1,-9,19,unchanged
174,175,28,5,5,1,0,-3,-9,19,unchanged
175,176,12,6,2,0,0,-2,-16,19,unchanged

In [18]:
new_results.relegation.drop_duplicates()

0            unchanged
7            relegated
25            promoted
90       fast promoted
149    double promoted
Name: relegation, dtype: object

In [19]:
#replace tables with new ones - don't use!

# Write the new DataFrame to a new SQLite table
#new_players.to_sql("Player", con, if_exists="replace")
#new_seasons.to_sql("Season", con, if_exists="replace")
#new_divisions.to_sql("Division", con, if_exists="replace")
#new_results.to_sql("Result", con, if_exists="replace")

176

In [20]:
con.close()

In [21]:
df

,year,season,division,last_name,first_name,position,match_count,win_count,tie_win_count,set_diff,game_diff,relegation,full_name
0,2025,1,M1,Rogozin,Anton,1,8,7,0,11,46,unchanged,Rogozin Anton
1,2025,1,M1,Razzakov,Alisher,2,6,6,0,12,37,unchanged,Razzakov Alisher
2,2025,1,M1,Larionov,Svyatoslav,3,6,4,0,5,18,unchanged,Larionov Svyatoslav
3,2025,1,M1,Shirinov,Jahon,4,5,4,0,3,-1,unchanged,Shirinov Jahon
4,2025,1,M1,Shamuratov,Farrukh,5,7,3,1,-2,-17,unchanged,Shamuratov Farrukh
...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,2024,1,M1b,Magomedov,Arsen,4,2,0,0,-3,-11,relegated,Magomedov Arsen
172,2024,1,M1b,Xaleulin,Ruslan,5,1,0,0,-1,-2,relegated,Xaleulin Ruslan
173,2024,1,M1b,Logvis,Kirill,6,1,0,0,-1,-4,relegated,Logvis Kirill
174,2024,1,M1b,Zakharchenko,Petro,7,1,0,0,-2,-7,relegated,Zakharchenko Petro
175,2024,1,M1b,Xazratov,Akmal,8,0,0,0,0,0,relegated,Xazratov Akmal

In [36]:
new_results

,id,player_id,position,match_count,win_count,tie_win_count,set_diff,game_diff,division_id,relegation
0,1,60,1,7,6,1,8,27,1,unchanged
1,2,46,2,7,6,0,8,17,1,unchanged
2,3,58,3,6,5,0,9,33,1,unchanged
3,4,71,4,7,3,0,-1,-4,1,unchanged
4,5,37,5,5,2,0,-2,-4,1,unchanged
...,...,...,...,...,...,...,...,...,...,...
171,172,53,2,2,2,1,2,11,19,promoted
172,173,49,3,4,2,0,0,-5,19,unchanged
173,174,15,4,3,1,1,-1,-9,19,unchanged
174,175,28,5,5,1,0,-3,-9,19,unchanged
175,176,12,6,2,0,0,-2,-16,19,unchanged

In [30]:
#leagues -> seasons -> divisions -> results -> player

In [31]:
import json

In [ ]:
"""
{league['name']: [{
                    'name': '1', 
                    'year': '2024',
                    'date_start': '',
                    'date_end': '',
                    'groups':{
                        ('M1', 10): [
                            {
                            position: 
                            first_name:,
                            last_name:,
                            match_count:,
                            win_count:
                            tie_win_count:
                            set_diff:
                            game_diff:
                            },
                        ('M2', 20):,
                            {
                                ...
                            }
                        ]
                    }
                },
                ]
"""

In [39]:
new_players

    id first_name     last_name gender
0    1     Sharof     Abdullaev   male
1    2   Vladimir    Abduraimov   male
2    3    Alisher  Abduvakhidov   male
3    4      Izzat       Ahrarov   male
4    5    Farrukh      Akhtamov   male
..  ..        ...           ...    ...
71  72      Sasha           Wao   male
72  73     Ruslan      Xaleulin   male
73  74      Akmal      Xazratov   male
74  75      Petro  Zakharchenko   male
75  76   Nuriddin   Zuhirxojaev   male

[76 rows x 4 columns]

In [40]:
new_results.join(new_players.set_index('id'), on='player_id')

,id,player_id,position,match_count,win_count,tie_win_count,set_diff,game_diff,division_id,relegation,first_name,last_name,gender
0,1,60,1,7,6,1,8,27,1,unchanged,Anton,Rogozin,male
1,2,46,2,7,6,0,8,17,1,unchanged,Hatam,Musadjanov,male
2,3,58,3,6,5,0,9,33,1,unchanged,Alisher,Razzakov,male
3,4,71,4,7,3,0,-1,-4,1,unchanged,Nodir,Vohidov,male
4,5,37,5,5,2,0,-2,-4,1,unchanged,Humoyun,Malikov,male
...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,172,53,2,2,2,1,2,11,19,promoted,Alisher,Nurmuratov,male
172,173,49,3,4,2,0,0,-5,19,unchanged,Igor,Neklesov,male
173,174,15,4,3,1,1,-1,-9,19,unchanged,Olimjon,Hayitov,male
174,175,28,5,5,1,0,-3,-9,19,unchanged,Ivan,Khoroshaev,male
175,176,12,6,2,0,0,-2,-16,19,unchanged,Alexey,Choi,male

In [51]:
new_seasons

   year       name date_start   date_end  id  league_id
0  2024          1 2024-06-01 2024-07-01   1          1
1  2024          2 2024-07-01 2024-08-01   2          1
2  2024          3 2024-08-01 2024-09-15   3          1
3  2024          4 2024-09-23 2024-11-23   4          1
4  2025  Preseason 2025-02-22 2025-03-30   5          1
5  2025          1 2025-04-05 2025-05-18   6          1

In [96]:
results_with_players = new_results.join(new_players.set_index('id'), on='player_id')

X = {}
seasons = []

for _, row in new_seasons.T.items():
    season_id = row['id']
    seasoni = row[['year', 'name', 'date_start', 'date_end']].to_dict()
    seasoni['date_start'] = row['date_start'].strftime('%Y-%m-%d')
    seasoni['date_end'] = row['date_end'].strftime('%Y-%m-%d')
    seasoni['divisions'] = []
    
    for _, div in new_divisions[new_divisions.season_id == row['id']].T.items():
        resultj = []
        for _, result in results_with_players[results_with_players.division_id == div['id']].T.items():
            resultj.append(result[['position', 'match_count', 'win_count', 'tie_win_count', 'set_diff', 'game_diff', 'division_id',
                  'relegation', 'first_name', 'last_name', 'gender']].to_dict())
            
        seasoni['divisions'].append({'name': div['name'], 'priority': div['priority'], 'results': resultj})
        
    seasons.append(seasoni)
X['Tashkent Masters'] = seasons

In [100]:
with open('../misc/results_season12025_1.json', 'w', encoding='utf-8') as f:
    json.dump(X, f, ensure_ascii=False, indent=2)